img {
	
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  
	
}



H1 {
	color: red;
	font-size: 30px;
	text-align: center;
}

body{
background-color: lightblue;

}

#special{
	border: 2px solid green;
	font-size: 100PX;
	background-color: yellow;
	width: 30%
}

